fastapi
uvicorn
sqlalchemy
mysql-connector-python
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
stripe
python-multipart
alembic
pydantic[email]
requests
email-validator
